body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat_icon {
  font-size: 50px;
  color: green;
  cursor: pointer;
  bottom: 40px;
  position: fixed;
  right: 25px;
}

.cs-message-input {
  border: 0px !important;
}

.chat-sec {
  position: relative;
}

.chat-sec .close-btn {
  position: absolute;
  font-size: 25px;
  z-index: 5;
  color: red;
  cursor: pointer;
  top: 11px;
  right: 10px;
}